<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container py-3 text-center"> 
        <img src="/404.gif" alt="404-img" class="col-12 col-md-8 col-lg-6">
        <a href="/" style="color: #7735f9;" class="d-block my-2">return to Home page</a>
    </div>
</body>
</html>